@font-face {
  font-family: "Action-Man";
  src: url("/src/assets/fonts/Action-Man/Action-Man-Regular.woff") format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Action-Man";
  src: url("/src/assets/fonts/Action-Man/Action-Man-Bold-Regular.woff") format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Action-Man";
  src: url("/src/assets/fonts/Action-Man/Action-Man-Italic.woff") format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Action-Man";
  src: url("/src/assets/fonts/Action-Man/Action-Man-Bold-Italic.woff") format('woff');
  font-weight: 700;
  font-style: italic;
}
